body {
    margin: 0;
    font: normal 16px/22px Open Sans;
    color: #555;
}

img {
    border-style: none
}

a {
    color: #fff
}

a, a:hover {
    text-decoration: none
}

ul {
    padding: 0
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

fieldset {
    border: none;
    padding: 0
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Italic.eot);
    src: url(../fonts/OpenSans-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Italic.woff) format("woff"), url(../fonts/OpenSans-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.eot);
    src: url(../fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-SemiBold.eot);
    src: url(../fonts/OpenSans-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-SemiBold.woff) format("woff"), url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Bold.eot);
    src: url(../fonts/OpenSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

header {
    padding: 35px 0;
    background: #fff;
    -webkit-transform: translateZ(0)
}

header .container {
    max-width: 800px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

header.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2)
}

.logo {
    position: absolute;
    left: 50%;
    margin-left: -34px
}

.logo a {
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    background: url(../images/logo.png) no-repeat;
    width: 68px;
    height: 68px
}

.nav {
    width: 100%;
    margin: 0 -15px;
    list-style: none;
    font-size: 0
}

.nav li {
    font-weight: 600;
    padding: 0 15px;
    display: inline-block;
    font-size: 14px
}

.nav li.active a, .nav li:hover a {
    color: #5363db
}

.nav li.active a:after, .nav li:hover a:after {
    width: 30px
}

.nav li.right {
    float: right
}

.nav li a {
    color: #555;
    display: block;
    position: relative;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.nav li a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    margin: 0 auto;
    height: 1px;
    background: #5363db;
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s ease
}

.hamburger {
    display: none;
    vertical-align: middle;
    position: relative;
    height: 15px;
    width: 30px
}

.hamburger span {
    text-indent: -9999px;
    overflow: hidden;
    top: 40%
}

.hamburger:after, .hamburger:before {
    content: ""
}

.hamburger:after, .hamburger:before, .hamburger span {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: #5b6ceb;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}

.hamburger:after {
    bottom: 0
}